@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-display: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);

  --color-bg-mist: #EDE7DE;
  --color-bg-card: #F9F6F1;
  --color-text-primary: #025A4E;
  --color-text-secondary: #4A635D;
  --color-brand-main: #025A4E;
  --color-brand-light: #BDD4BE;
  --color-brand-dark: #013830;
  --color-accent-lime: #D4E6B5;
}

/* Base Styles */
body {
  background-color: var(--color-bg-mist);
  color: var(--color-text-primary);
}